<!--
 Copyright (c) 2019, the GoConnectX project authors.  Please see the AUTHORS file
 for details. All rights reserved. Use of this source code is governed by a
 BSD-style license that can be found in the LICENSE file.
-->
	<material-drawer temporary #drawer="drawer"
					 [class.custom-width]="customWidth"
					 [attr.end]="end ? '' : null"
					 [attr.overlay]="overlay ? '' : null"
	>
		<section class="md-background">
		<span><h3 class="text-white-50">Go<svg width="30" height="30" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#arrow-right-1"></use></svg>ConnectX</h3></span>
		</section>

		<div *deferredContent class="material-drawer gx-background text-white" >
			<div group class="mat-drawer-spacer"></div>
			<div group>
				<material-list-item *ngFor="let i of Side.menuIcons">
					<a [class]="i.classFormat" [routerLink]="i.routerLink" [routerLinkActive]="'i.routerLinkActive'">
						<span [class]="i.icon.classFormat">
						<svg-icons [svgWidth]="i.icon.width"
								   [svgHeight]="i.icon.height"
								   [svgIcon]="i.icon.icon"
						></svg-icons>
						</span> {{i.icon.title}}

					</a>
				</material-list-item>
<!--
				<material-list-item>
					<a class="dropdown-item text-s text-s" [routerLink]="RoutePaths.landing.toUrl()" [routerLinkActive]="'active-route'">
						<span>
						<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#property-1"></use></svg>
						</span> home
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s text-s" [routerLink]="RoutePaths.aboutUs.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#shield-grid-1"></use></svg>
						</i> About
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.addProduct.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#add-to-cart-1"></use></svg>
						</i> Add Product
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.blogPost.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#messaging-1"></use></svg>
						</i> Blog Post
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.blogPosts.toUrl()" [routerLinkActive]="'active-route'">
						<i >
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#comments-1"></use></svg>
						</i> Blog Posts
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.discover.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#message-app-2"></use></svg>
						</i> Discover
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.eCommerce.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#shopping-trolley-1"></use></svg>
						</i> e-Commerce
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.login.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#keyhole-1"></use></svg>
						</i> Login
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.product.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#buy-1"></use></svg>
						</i> Product
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.profile.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#profile-settings-1"></use></svg>
						</i> Profile
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.register.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#pen-tool-1"></use></svg>
						</i> Register
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.searchSidebar.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#search-1"></use></svg>
						</i> Search
					</a>
				</material-list-item>
				<material-list-item>
					<a class="dropdown-item text-s" [routerLink]="RoutePaths.settings.toUrl()" [routerLinkActive]="'active-route'">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#settings-mixer-1"></use></svg>
						</i> Settings
					</a>
				</material-list-item>
-->
			</div>

			<div group class="material-drawer md-background text-white">
				<div label>
					<h3>Tags</h3>
				</div>
				<material-list-item>
					<a href="#" class="dropdown-item text-white">
						<i>
							<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#stars-1"></use></svg>
						</i>Favorites

					</a>
				</material-list-item>
			</div>
		</div>
<section class="md-background">
<p> </p>
</section>
	</material-drawer>


<div class="material-content">
	<header class="material-header shadow">
		<div class="material-header-row">
			<material-button icon
							 class="material-drawer-button" (trigger)="drawer.toggle()">
			<div class="Logo.classFormat">
				<svg-icons [svgWidth]="Logo.width"
						   [svgHeight]="Logo.height"
						   [svgIcon]="Logo.icon"
				></svg-icons>
			</div>
			</material-button>
			<span><a class="navbar-brand text-p rm-small-screen text-s" [routerLink]="RoutePaths.aboutUs.toUrl()" [routerLinkActive]="'active-route'">{{Logo.title}}</a></span>
			<span><a class="navbar-brand text-p rm-standard-screen text-s" [routerLink]="RoutePaths.aboutUs.toUrl()" [routerLinkActive]="'active-route'">{{Logo.abr}}</a></span>
			<div class="material-spacer"></div>
			<nav class="nav-item rm-small-screen" *ngFor="let i of Top.menuIcons">
				<a [class]="i.classFormat" [routerLink]="i.routerLink" [routerLinkActive]="'i.routerLinkActive'">
					<i [class]="i.icon.classFormat">
						<svg-icons [svgWidth]="i.icon.width"
								   [svgHeight]="i.icon.height"
								   [svgIcon]="i.icon.icon"
						></svg-icons>
					</i> {{i.icon.title}}
				</a>
			</nav>
			<nav class="nav-item rm-standard-screen" *ngFor="let i of Top.menuIcons">
				<a [class]="i.classFormat" [routerLink]="i.routerLink" [routerLinkActive]="'i.routerLinkActive'">
					<i [class]="i.icon.classFormat">
						<svg-icons [svgWidth]="i.icon.width"
								   [svgHeight]="i.icon.height"
								   [svgIcon]="i.icon.icon"
						></svg-icons>
					</i>
				</a>
			</nav>

			<!--
							<nav class="nav-item rm-small-screen">
								<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.home.toUrl()" [routerLinkActive]="'active-route'">
									<i>
										<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#property-1"></use></svg>
									</i> Home
								</a>
							</nav>
							<nav class="nav-item rm-standard-screen">
								<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.home.toUrl()" [routerLinkActive]="'active-route'">
									<i>
										<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#property-1"></use></svg>
									</i>
								</a>
							</nav>
							<nav class="nav-item rm-small-screen">
								<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.product.toUrl()" [routerLinkActive]="'active-route'">
									<i>
										<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#inbox-1"></use></svg>
									</i> Mail
								</a>
							</nav>
							<nav class="nav-item rm-standard-screen">
								<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.product.toUrl()" [routerLinkActive]="'active-route'">
									<i>
										<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#read-email-1"></use></svg>
									</i>
								</a>
							</nav>
							<nav class="nav-item rm-small-screen">
								<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.eCommerce.toUrl()" [routerLinkActive]="'active-route'">
									<i>
										<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#shopping-bag-2"></use></svg>
									</i> Shop
								</a>
							</nav>
							<nav class="nav-item rm-standard-screen">
								<a class="dropdown-item text-p" data-scroll="true" data-id="#pricing text-s" [routerLink]="RoutePaths.eCommerce.toUrl()" [routerLinkActive]="'active-route'">
									<i>
										<svg width="30" height="50" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#shopping-bag-1"></use></svg>
									</i>
								</a>
							</nav>
			-->
		</div>
	</header>
	<router-outlet [routes]="Routes.all"></router-outlet>

</div>
<!--Do not use a reelect from old design-->
<!--
[routerLink]="RoutePaths.aboutUs.toUrl()"
[routerLinkActive]="'active-route'"
[routerLink]="RoutePaths.landing.toUrl()"
[routerLinkActive]="'active-route'"
-->


<!--Footer-->
<footer class="page-footer center-on-small-only  pt-0 footer-widget-container md-background">
	<!--Footer Links-->
	<div class="container pt-5 mb-5">
		<div class="row">
			<!--First column-->
			<div class="col-md-6 col-lg-3 col-xl-3 footer-contact-widget">
				<h3 class="footer-title">{{One.title}}</h3>
				<p>{{One.subTitle}}</p>
					<ul>
						<li *ngFor="let i of One.socialIcons">
							<a [href]="i.href">
								<i class="mdi">
									<svg-icons [svgWidth]="i.width"
											   [svgHeight]="i.height"
											   [svgIcon]="i.icon"
											   [svgClassFormat]="i.classFormat"
									></svg-icons>
								</i>
							</a>
						</li>
<!--
						<li>
							<a href="#">
								<i class="mdi">
									<svg width="34" height="34" class="theme-color-1007"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#instagram-1"></use></svg>
								</i>
							</a>
						</li>
-->
					</ul>
			</div>
			<!--/.First column-->

			<!--Second column-->
			<div class="col-md-6 col-lg-3 col-xl-3 recent-widget">
				<h3 class="footer-title">{{Two.title}}</h3>
				<ul class="image-list" >
					<li *ngFor="let i of Two.posts">
						<figure class="overlay">
							<img class="img-fluid" [src]="i.photo" alt="">
							<figcaption><a [href]="i.href"><i class="mdi mdi-link-variant from-top icon-xs"></i></a></figcaption>
						</figure>
						<div class="post-content">
							<h6 class="post-title"> <a [href]="i.href">{{i.title}}</a> </h6>
							<div class="meta"><span class="date">{{i.date}}</span></div>
						</div>
					</li>
<!--
					<li>
						<figure class="overlay">
							<img class="img-fluid" [src]="recentPostImg2" alt="">
							<figcaption><a href="/#/landing"><i class="mdi mdi-link-variant from-top icon-xs"></i></a></figcaption>
						</figure>
						<div class="post-content">
							<h6 class="post-title"><a href="/#/landing">Ornare Nullam Risus Cursus</a></h6>
							<div class="meta"><span class="date">12 Jan 2019</span></div>
						</div>
					</li>
-->
				</ul>
			</div>
			<!--/.Second column-->

			<!--Third column-->
			<div class="col-md-6 col-lg-3 col-xl-3 link-widget">
				<h3 class="footer-title">{{Three.title}}</h3>
				<p>{{Three.subTitle}}</p>
				<div class="mt-3"></div>
				<ul class="icon-list">
					<li *ngFor="let i of Three.contactInfo" >
						<i [class]="i.classFormat"></i>
					 {{i.lineType}}:	{{i.title}}
					</li>
					<!--
					<li><i class="mdi mdi-map-marker"></i> 548 San Francisco, CA </li>
					<li><i class="mdi mdi-email"></i> <a href="mailto:mail@material.com" class="nocolor">mail@material.com</a> </li>
					<li><i class="mdi mdi-phone-classic"></i> +00 (123) 456 78 90 </li>
					<li><i class="mdi mdi-cellphone-iphone"></i> +00 (121) 455 47 54 </li>
-->
				</ul>
			</div>
			<!--/.Third column-->

			<!--Fourth column-->
			<div class="col-md-6 col-lg-3 col-xl-3 footer-contact">
				<div class="widget">
					<h5 class="widget-title">Useful Links</h5>
					<ul class="unordered-list">
						<li *ngFor="let i of Four.links">
							<a [href]="i.href">{{i.title}}</a>
						</li>
					</ul>
				</div>
			</div>
			<!--/.Fourth column-->

		</div>
	</div>
	<!--/.Footer Links-->

	 <!--Copyright-->
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
						<p><a href="#">© {{copyright}}, made with love by
							<span>Go<svg width="20" height="25" class="theme-line-9"><use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#arrow-right-1"></use></svg>ConnectX
							</span>
							</a>

						</p>

				</div>
			</div>
		</div>
	</div>
	<!--/.Copyright-->

</footer>

<!--/.Footer-->
