/*
* Legion Market v
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/

//@import "package:gcx_shopy_scss/src/scss/";


//@import "package:app/src/scss/theme/pricing";


// Preset Color Styles
@import "package:gcx_shopy_scss/src/scss/colors/presets";

// Global Styles
@import "package:gcx_shopy_scss/src/scss/global";

// Variables Styles
// @import "package:gcx_shopy_scss/src/scss/variables";

// Navbar
@import "package:gcx_shopy_scss/src/scss/navbar";

// Hero Area
@import "package:gcx_shopy_scss/src/scss/hero-area";

// About US Area
@import "package:gcx_shopy_scss/src/scss/featured";

// Categories Area
@import "package:gcx_shopy_scss/src/scss/categories";

// Portfolio Area
@import "package:gcx_shopy_scss/src/scss/portfolio";

// Service Area
@import "package:gcx_shopy_scss/src/scss/service";

// Detail Page
@import "package:gcx_shopy_scss/src/scss/detail";

// Dashboard
@import "package:gcx_shopy_scss/src/scss/dashboard";

// Pricing
@import "package:gcx_shopy_scss/src/scss/pricing";

// Testimonial Area
@import "package:gcx_shopy_scss/src/scss/testimonial";

// Blog Area
@import "package:gcx_shopy_scss/src/scss/blog";

// Contact Area
@import "package:gcx_shopy_scss/src/scss/contact";

// Contact Area
@import "package:gcx_shopy_scss/src/scss/footer";

// About Page
@import "package:gcx_shopy_scss/src/scss/about-page";

// Shortcode
@import "package:gcx_shopy_scss/src/scss/shortcode";

// Shortcode
@import "package:gcx_shopy_scss/src/scss/error";

